.euiButton--primary.euiButton--fill {
  color: #fff !important;
}

.euiButton--warning.euiButton--fill {
  color: #fff !important;
}

.euiButton--warning.euiButton {
  background-color: #faf0e8 !important;
}

.euiButton--warning.euiButton--fill {
  background-color: #e39846 !important;
}

.euiTitle {
  color: #565656;
}

/*!
 * Copyright 2019-2020 SURF.
 */
.options {
  display: flex;
  padding-top: 25px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.refresh {
  display: flex;
  background-color: white;
  padding: 0 15px 0 0;
}
.refresh .checkbox {
  margin-left: auto;
}

table {
  width: 100%;
  word-break: break-all;
}
table td,
table th {
  text-align: left;
  vertical-align: middle;
}
table tr {
  border-bottom: 1px solid #eff2f3;
}
table tr.Allocated {
  cursor: pointer;
  background-color: #ecf9fe;
}
table tr.Allocated:hover {
  background-color: #bceafb;
}
table tr.Planned {
  cursor: default;
  background-color: #fdf6d4;
}
table tr.Free {
  cursor: pointer;
  background-color: #d0ffd9;
}
table tr.Free:hover {
  background-color: #9dffb0;
}
table tr.selected {
  background-color: #565656;
  color: white;
}
table tr.selected:hover {
  background-color: black;
}
table thead th {
  cursor: pointer;
  padding: 5px 5px 10px 5px;
}
table thead th.customer {
  width: 15%;
}
table thead th.sub_id {
  width: 7%;
}
table thead th.description {
  width: 20%;
}
table thead th.fam {
  width: 5%;
}
table thead th.len {
  width: 5%;
}
table thead th.prefix {
  width: 14%;
}
table thead th.parent {
  width: 14%;
}
table thead th.status {
  width: 10%;
}
table thead th.start_date {
  width: 10%;
}
table thead span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  color: #a6b6be;
  padding: 7px 2px 7px 0;
}
table thead i.fa {
  float: right;
  margin-right: 15px;
  color: #a6b6be;
  font-size: 18px;
}
table tbody tr {
  cursor: pointer;
}
table tbody tr:hover {
  background-color: #f9fcfd;
}
table tbody tr:hover.Planned {
  background-color: #fbeca3;
}
table tbody tr:hover.Free {
  background-color: #9dffb0;
}
table tbody tr:hover.Allocated {
  background-color: #bceafb;
}
table tbody td {
  word-break: break-word;
  word-wrap: break-word;
  padding: 15px 0 10px 5px;
}
table tbody td i.fa-info-circle {
  color: #4db2cf;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}
table tbody td div.tool-tip {
  box-shadow: 1px 2px 6px 1px #d9d9d8;
  padding: 10px !important;
  font-size: 14px !important;
  pointer-events: auto !important;
  color: #565656 !important;
  background-color: white !important;
  max-width: 390px;
}
table tbody td div.tool-tip.show {
  opacity: 1 !important;
}
@media (max-width: 767px) {
  table tbody td div.tool-tip {
    max-width: 200px;
  }
}
table tbody td div.tool-tip span {
  text-transform: none;
}
table tbody td div.tool-tip span.label {
  font-weight: bold;
  display: block;
  padding: 3px 0;
}
table tbody td div.tool-tip span.value {
  font-weight: normal;
  float: right;
  padding: 0 0 0 60px;
}
@media (max-width: 767px) {
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #d9d9d8;
  }
  table td {
    display: block;
    text-align: right;
    border-bottom: 1px dotted #ecf9fe;
    padding: 8px 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #a6b6be;
  }
}

.prefixes {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}
.prefixes a.new {
  margin-left: 25px;
}
.prefixes a.new i.fa-plus {
  margin-left: 35px;
}

/*# sourceMappingURL=Prefixes.css.map */
